#GLOBAL-CUSTOM-PROPERTIES,

#DISPLAY,

#POSITION,

#CO-ORDINATES,

#GRID-PARENT,

#GRID-CHILDREN,

#FLEX-PARENT,

#FLEX-CHILDREN,

#FLOAT_CLEAR,

#WIDTH_HEIGHT,

#MARGIN_PADDING,

#TEXT-SIZE,

#TEXT-COLOR,

/* @FONT FACE */

@font-face {
font-family: 'my-typeface';
src: url('/.assets/theme/elements/fonts/my-typeface.woff2') format('woff2'), /* Super Modern Browsers */
     url('/.assets/theme/elements/fonts/my-typeface.woff') format('woff'); /* Pretty Modern Browsers */
}

#TEXT-TYPEFACE,

#TEXT-PRESENTATION,

#BACKGROUND,

#BORDER,

#BORDER-RADIUS,

#BOX-SHADOW,

#ELEMENT-PRESENTATION,

#PSEUDO-ELEMENTS,
input[type="text"]::-webkit-input-placeholder {color:rgb(-,-,-); opacity: 0.5;} /* Safari, Chrome and Opera */
input[type="text"]:-ms-input-placeholder {color:rgb(-,-,-); opacity: 0.5;}  /*IE */
input[type="text"]::-ms-input-placeholder {color:rgb(-,-,-); opacity: 0.5;}  /* Edge */
input[type="text"]:placeholder-shown {color:rgb(-,-,-); opacity: 0.5;} /* CSS Level 4 Selector */
input[type="text"]::placeholder {color:rgb(-,-,-); opacity: 0.5;} /* Standard */

#TRANSFORM,

#TRANSITIONS,

#ANIMATIONS,

/* @KEYFRAMES */

/* @MEDIA QUERIES */

@media only screen and (max-width: ---px) {
}

@media only screen and (max-width: 400px),
       only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) {

@media only screen and (min-device-width:320px) and (max-device-width:480px),
       only screen and (min-device-width:320px) and (max-device-width:568px),
       only screen and (min-device-width:360px) and (max-device-width:598px) {
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape),
       only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape),
       only screen and (min-device-width:360px) and (max-device-width:598px) and (orientation:landscape) {
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait),
       only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:portrait),
       only screen and (min-device-width:360px) and (max-device-width:598px) and (orientation:portrait) {
}
         
@media print {
}
